---
import Layout from "../layouts/Layout.astro";

let title = "trevor manz";
let description =
	"Trevor Manz is a postdoctoral fellow at Harvard Medical School and creator of anywidget.";
---

<Layout title={title} description={description}>
	<p>
		i make tools to help humans answer questions <i
			class="text-(color:--prose-link-color)">with data</i
		>.
	</p>

	<p>
		i recently completed my phd <a
			target="_blank"
			href="https://hidivelab.org">at harvard</a
		>, where i'm now a postdoc.
	</p>

	<p>
		follow me on
		<a target="_blank" href="https://github.com/manzt">github</a>/<wbr /><a
			target="_blank"
			href="https://bsky.app/profile/manzt.sh">bluesky</a
		>/<wbr /><a target="_blank" href="https://twitter.com/trevmanz"
			>twitter</a
		>.
	</p>
</Layout>
