@import "tailwindcss";
@import "@fontsource/comic-neue";
@import "@fontsource/comic-mono";

@import "./typography.css" layer(components);

@theme {
	--font-sans: "Comic Neue";
	--font-mono: "Comic Mono";
	--animate-blink: blink 0.8s ease-in-out infinite;

	@keyframes blink {
		50% {
			opacity: 0;
		}
	}
}

:root {
	color-scheme: light dark;
}
.dark {
	color-scheme: dark;
}
.light {
	color-scheme: light;
}

@variant dark {
	&:where(.dark, .dark *) {
		@slot;
	}
	@media (prefers-color-scheme: dark) {
		&:where(.system, .system *) {
			@slot;
		}
	}
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Line numbers for code examples */
.astro-code {
	code {
		counter-reset: line;
		position: relative;
	}

	.line {
		counter-increment: line;
		margin-left: --spacing(9);

		@media (width <= var(--breakpoint-sm)) {
			margin-left: 0;
		}

		&::before {
			position: absolute;
			left: 0;
			content: counter(line);
			width: --spacing(6);
			text-align: right;
			user-select: none;
			display: inline-block;
			color: color-mix(in oklab, var(--color-black) 40%, transparent);
			font-family: var(--font-mono);

			@media (width <= var(--breakpoint-sm)) {
				display: none;
			}
		}
	}
}
